<section id="intro">

      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <ul class="slides">
                <li data-thumb="{{asset('assets') }}/img/slides/flexslider/hotel.jpg">
                  <img src="{{asset('assets') }}/img/slides/flexslider/hotel.jpg" alt="" />
                  <div class="flex-caption primary">
                    {# <h2>#</h2>
                    <p>#</p> #}
                  </div>
                </li>
                <li data-thumb="{{asset('assets') }}/img/slides/flexslider/hotel1.jpg">
                  <img src="{{asset('assets') }}/img/slides/flexslider/hotel1.jpg" alt="" />
                  <div class="flex-caption warning">
                      {# <h2>#</h2>
                    <p>#</p> #}
                  </div>
                </li>
                <li data-thumb="{{asset('assets') }}/img/slides/flexslider/hotel2.jpg">
                  <img src="{{asset('assets') }}/img/slides/flexslider/hotel2.jpg" alt="" />
                  <div class="flex-caption success">
                      {# <h2>#</h2>
                    <p>#</p> #}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>